<!DOCTYPE html>
<html lang="en">
    <title>Clone Zé</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='cssdoc.css') }}">
    <!-- roboto fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    
    <title>Chartjs</title>
    <style>
      

    </style>
</head>
<body>
    <header class="bg">
        <img src="{{ url_for('static',filename='img/cima2.png') }}">
    </header>
        

    <div class="sofazin">
        
        <div class="contencao">
            <h1 class="texto">
                <strong>
                Bebidas geladas
                </strong>
                 a
                 <strong>
                    preço
                </strong>
                 de mercado na sua 
                 <strong>
                 casa
                </strong>
                 agora
            </h1>
            
                <input  type="checkbox" id="ham-menu">
                <label for="ham-menu">
                <div class="hide-des">
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                </div>

                

                </label>
                <div class="ham-menu">
                <ul class="centre-text bold-text">
                    <li>Cervejas</li>
                    <li>Sem Álcool</li>
                    <li>Destilados</li>
                    <li>Destilados</li>
                    <li>Vinhos</li>
                    <li>Comidinhas</li>
                    <li>Lojinha</li>
                </ul>
                </div>
            

            <input class="inputlocal" type="text" placeholder="3kg de sexo por favor">
        </div>
            
    </div>


    <div class="gridFunciona">
        <texto class="texto2">
            <h1>Como funciona o Zé Delivery?</h1>
        </texto>
        
        <img1 class="img1">
            <img src="{{ url_for('static',filename='img/delivery-man.png') }}" height="112px" width="112px" alt="onde voce estiver" >
            <h2 class="textoCharts">Onde você estiver</h2>
            <h3>Achamos as bebidas geladinhas na sua área e levamos até você!</h3>

        </img1>

        <main class="img1">
            <img src="{{ url_for('static',filename='img/sacolinha.png') }}" height="112px" width="112px">
            <h2 class="textoCharts">Só as favoritas</h2>
            <h3>Você pode escolher entre cervejas, vinhos, água, energéticos, refrigerantes, salgadinhos e até gelo!</h3>
        </main>

        <aside class="img1">
            <img src="{{ url_for('static',filename='img/double_cellphone_greeting.png') }}" height="112px" width="112px">
            <h2 class="textoCharts">Facilita seu brinde</h2>
            <h3>Suas bebidas chegam geladinhas e super rápidas, prontas para brindar!</h3>
        </aside>
        
        
            
    </div>
        <div class="espacamento32px"></div>

        <div class="flexProdutosDisponiveis">
            <h2 class="texto3">Você pode conferir ofertas exclusivas no seu endereço</h2>
            <button type="button" class="botaoProdutosDisponiveis">Ver produtos disponíveis</button>
        </div>

        <div class="espacamento32px"></div>
        <h2 class="texto3">Produtos que você encontra no Zé</h2>
        
        <div class="flexProdutos">
            <a class="redirecionamento" href="{{ url_for('static',filename='img/delivery-man.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/Guilherme.jpeg') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Energéticos</h2>
                    </div>
                </div>
            </a>
            
            <a class="redirecionamento" href="{{ url_for('static',filename='img/delivery-man.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/crash.jpg') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Sucos</h2>
                    </div>
                </div>
            </a>

            <a class="redirecionamento" href="{{ url_for('static',filename='img/delivery-man.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/3noites.jpg') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Gelos</h2>
                    </div>
                </div>
            </a>

            <a class="redirecionamento" href="{{ url_for('static',filename='img/delivery-man.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/pdro.jpeg') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Amendoins</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="espacamento32px"></div>

    <div class="gridGenericos">
        <li class="padraoGenericos" title="Cervejas">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Cervejas</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Destilados">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Destilados</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Vinhos">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Vinhos</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Sem Álcool">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Sem Álcool</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Lojinha">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Lojinha</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Comidinhas">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Comidinhas</h2>
            </a>
        </li>
    </div>

    <div class="espacamento32px"></div>

    <div class="backgroundCidades">
        <h2 class="textoCidades">Cidades que atendemos</h2>
        <ul class="gridCidades">
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Belém</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Porto Velho</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Maceió</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Salvador</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">São Luís</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">João Pessoa</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Porto Alegre</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Palmas</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Florianópolis</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Boa Vista</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Aracaju</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Natal</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Vitória</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">São Paulo</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Curitiba</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Rio Branco</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Rio de Janeiro</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Belo Horizonte</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Manaus</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Brasília</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Fortaleza</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Recife</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Goiânia</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Campo Grande</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Macapá</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Cuiabá</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Ver mais cidades</h3>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="espacamento32px"></div>

    <div class="flexCelularApp">
        <div class="padrao">
            <div class="downloadApp">
                <h2 class="textoApps">Já baixou o app?</h2>
            </div>
        </div>
        <img src="{{ url_for('static',filename='img/haha.jpeg') }}" height="450px" width="100%">

    </div>



    






    
    <!--
    <div class="graficor">
        <div style="width: 600px; height: 300px;">
        <canvas id="lineChart"></canvas>
        </div>
    </div>
     
    <div class="graficor">
        <div style="width: 400px; height: 400px;">
        <canvas id="myChart"></canvas>
        </div>
    </div>
    
    <script>
        //setup
        const data ={
            labels:["Jan", "Fev", "Mar", "Apr", "May", "Jun"],
                datasets: [
                    {
                        label: "Novos Clientes",
                        data: [11, 20, 30, 15, 20, 9],
                        backgroundColor: [
                            '#red',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }
                ]
            
        }

        //setup lineChart
        const data2 ={
            labels:["Jan", "Fev", "Mar", "Apr", "May", "Jun"],
                datasets: [
                    {
                        label: "Novos Clientes",
                        data: [11, 20, 30, 15, 20, 9],
                        backgroundColor: [
                            '#blue',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }
                ]
        }
        // config
        const config ={
            type: "doughnut",
            data,
            options: {
                
                title: {
                    display: true,
                    text:"Novos Clientes"
                },
                scales: {
                    yAxes: [
                        {
                            ticks:{
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        }

        // config lineChart
        const config2 ={
            type: "bar",
            data,
            options: {
                
                title: {
                    display: false,
                    text:"Novos Clientes"
                },
                scales: {
                    yAxes: [
                        {
                            ticks:{
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        }

        // render init block
        let myChart = new Chart(
            document.getElementById("myChart"),
            config
        );

        // render linechart
        let lineChart = new Chart(
            document.getElementById("lineChart"),
            config2
        );


    </script>
    -->

</body>
</html>