<!DOCTYPE html>
<html lang="en">
    <title>Clone Zé</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='cssdoc.css') }}">
    <!-- roboto fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    
    <title>Chartjs</title>
    <style>
      

    </style>
</head>
<body>
    <header class="bg">
        <img src="{{ url_for('static',filename='img/logo2.png') }}">
    </header>
        

    <div class="sofazin">
        
        <div class="contencao">
            <h1 class="texto">
                <strong>
                Bebidas geladas
                </strong>
                 a
                 <strong>
                    preço
                </strong>
                 de mercado na sua 
                 <strong>
                 casa
                </strong>
                 agora
            </h1>
            
                <input  type="checkbox" id="ham-menu">
                <label for="ham-menu">
                <div class="hide-des">
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                    <span class="menu-line"></span>
                </div>

                

                </label>
                <div class="ham-menu">
                <ul class="centre-text bold-text">
                    <li>Cervejas</li>
                    <li>Sem Álcool</li>
                    <li>Destilados</li>
                    <li>Vinhos</li>
                    <li>Comidinhas</li>
                    <li>Lojinha</li>
                    
                </ul>
                <div class="SidebarDownloadApp">
                    <h2 class="SidebarTextoApps">Baixe nosso app</h2>
                    
                    <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <img width="190" height="56" src="{{ url_for('static',filename='img/play_store_badge.png') }}"></img>
                    </a>
    
                    <a href="https://apps.apple.com/BR/app/id1070070438?mt=8">
                    <img class="espacoCima" width="190" height="56" src="{{ url_for('static',filename='img/apple_store_badge.png') }}"></img>
                    </a>
                </div>
                </div>
            

            <input class="inputlocal" type="text" placeholder="Inserir endereço para ver preço">
        </div>
            
    </div>


    <div class="gridFunciona">
        <texto class="texto2">
            <h1>Como funciona o Zé Delivery?</h1>
        </texto>
        
        <img1 class="img1">
            <img src="{{ url_for('static',filename='img/delivery-man.png') }}" height="112px" width="112px" alt="onde voce estiver" >
            <h2 class="textoCharts">Onde você estiver</h2>
            <h3>Achamos as bebidas geladinhas na sua área e levamos até você!</h3>

        </img1>

        <main class="img1">
            <img src="{{ url_for('static',filename='img/sacolinha.png') }}" height="112px" width="112px">
            <h2 class="textoCharts">Só as favoritas</h2>
            <h3>Você pode escolher entre cervejas, vinhos, água, energéticos, refrigerantes, salgadinhos e até gelo!</h3>
        </main>

        <aside class="img1">
            <img src="{{ url_for('static',filename='img/double_cellphone_greeting.png') }}" height="112px" width="112px">
            <h2 class="textoCharts">Facilita seu brinde</h2>
            <h3>Suas bebidas chegam geladinhas e super rápidas, prontas para brindar!</h3>
        </aside>
        
        
            
    </div>
        <div class="espacamento32px"></div>

        <div class="flexProdutosDisponiveis">
            <h2 class="texto3">Você pode conferir ofertas exclusivas no seu endereço</h2>
            <button type="button" class="botaoProdutosDisponiveis">Ver produtos disponíveis</button>
        </div>

        <div class="espacamento32px"></div>
        <h2 class="texto3">Produtos que você encontra no Zé</h2>
        
        <div class="flexProdutos">
            <a class="redirecionamento" href="{{ url_for('static',filename='img/energetico.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/energetico.png') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Energéticos</h2>
                    </div>
                </div>
            </a>
            
            <a class="redirecionamento" href="{{ url_for('static',filename='img/sucos.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/sucos.png') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Sucos</h2>
                    </div>
                </div>
            </a>

            <a class="redirecionamento" href="{{ url_for('static',filename='img/gelos.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/gelos.png') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Gelos</h2>
                    </div>
                </div>
            </a>

            <a class="redirecionamento" href="{{ url_for('static',filename='img/amendoins.png') }}">
                <div class="card">
                    <div>
                        <img class="cardsProdutos" src="{{ url_for('static',filename='img/amendoins.png') }}" >
                    </div>
                    <hr class="linha">
                    <div class="card-texto">
                        <h2 class="texto4Produto">Amendoins</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="espacamento32px"></div>

    <div class="gridGenericos">
        <li class="padraoGenericos" title="Cervejas">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Cervejas</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Destilados">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Destilados</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Vinhos">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Vinhos</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Sem Álcool">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Sem Álcool</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Lojinha">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Lojinha</h2>
            </a>
        </li>
        <li class="padraoGenericos" title="Comidinhas">
            <img class="imgGenericos" src="{{ url_for('static',filename='img/delivery-man.png') }}">
            <a href="{{ url_for('static',filename='img/delivery-man.png') }}" title="Cervejas">
                <h2 class="textoGenericos">Comidinhas</h2>
            </a>
        </li>
    </div>

    <div class="espacamento32px"></div>

    <div class="backgroundCidades">
        <h2 class="textoCidades">Cidades que atendemos</h2>
        <ul class="gridCidades">
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Belém</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Porto Velho</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Maceió</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Salvador</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">São Luís</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">João Pessoa</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Porto Alegre</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Palmas</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Florianópolis</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Boa Vista</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Aracaju</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Natal</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Vitória</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">São Paulo</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Curitiba</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Rio Branco</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Rio de Janeiro</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Belo Horizonte</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Manaus</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Brasília</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Fortaleza</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Recife</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Goiânia</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Campo Grande</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Macapá</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Cuiabá</h3>
                </a>
            </li>
            <li class="listaCidades">
                <a href="{{ url_for('static',filename='img/delivery-man.png') }}">
                    <h3 class="nomeCidades">Ver mais cidades</h3>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="espacamento32px"></div>

    <div class="backgroundCelular">
        <div class="flexCelularApp">
            <div class="padrao">
                <div class="downloadApp">
                    <h2 class="textoApps">Já baixou o app?</h2>
                    <h3 class="textoAppps">Entregamos onde estiver, através de nosso parceiro mais próximo de você.</h3>
                    
                    <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <img width="190" height="56" src="{{ url_for('static',filename='img/play_store_badge.png') }}"></img>
                    </a>

                    <a class="espacoEsquerda" href="https://apps.apple.com/BR/app/id1070070438?mt=8">
                    <img width="190" height="56" src="{{ url_for('static',filename='img/apple_store_badge.png') }}"></img>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="backVoltaAoTopo">
        <a href="#">
            <h3 class="botaoVoltaAoTopo">Voltar para o topo</h3>     
        </a>
    </div>

    <div class="backFinal">
        <div class="gridFinal">
            <div class="PrimeiraGd">
                <figure class="figuraZé">
                    <img src="{{ url_for('static',filename='img/logo2.png') }}" alt="Zéicone" width="176px" height="56px">
                </figure>
                
                <div class="espacamento16px"></div>

                <div class="redesSociais">
                    <svg viewBox="0 0 24 24" style="width:32px;height:32px" role="presentation" class="css-18pzvve-SocialLinks"><path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" style="fill:#FFFFFF"></path></svg>
                    <svg viewBox="0 0 24 24" style="width:32px;height:32px" role="presentation" class="css-18pzvve-SocialLinks"><path d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" style="fill:#FFFFFF"></path></svg>
                    <svg viewBox="0 0 24 24" style="width:32px;height:32px" role="presentation" class="css-18pzvve-SocialLinks"><path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" style="fill:#FFFFFF"></path></svg>
                </div>
            </div>
            <div class="SegundaGd">
                <h4 class="textoSobreZe">Sobre o Zé Delivery</h4>
                <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <h5 class="textoLinksZe">Me ajuda, Zé!</h5>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <h5 class="textoLinksZe">Trabalhe conosco</h5>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <h5 class="textoLinksZe">Pagamento na Entrega</h5>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <h5 class="textoLinksZe">Cidades atendidas</h5>
                </a>
            </div>

            <div class="SegundaGd">
                <h4 class="textoSobreZe">Parceirias</h4>
                <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <h5 class="textoLinksZe">Quero ser parceiro</h5>
                </a>
            </div>

            <div class="UltimaGd">
                <h4 class="textoSobreZe">Já baixou o aplicativo?</h4>
                
                <a href="https://play.google.com/store/apps/details?id=com.cerveceriamodelo.modelonow&referrer=af_tranid%3D_IkGcksVke_H_8Q3CNWROQ%26shortlink%3D488889bc%26pid%3DZ%C3%A9%20Website%26af_channel%3DWebsite%26af_ad%3DWelcome%20Page%20Banner%26af_sub1%3DAndroid%26af_web_id%3Df2f3ece2-d9ad-410c-8a37-62f7b71aeb31-o">
                    <img class="espacoCima" width="136" height="40" src="{{ url_for('static',filename='img/play_store_badge.png') }}"></img>
                </a>
    
                <a href="https://apps.apple.com/BR/app/id1070070438?mt=8">
                    <img class="espacoCima" width="136" height="40" src="{{ url_for('static',filename='img/apple_store_badge.png') }}"></img>
                </a>
            </div>
        </div>
        <h2>teste</h2>
    </div>



    






    
    <!--
    <div class="graficor">
        <div style="width: 600px; height: 300px;">
        <canvas id="lineChart"></canvas>
        </div>
    </div>
     
    <div class="graficor">
        <div style="width: 400px; height: 400px;">
        <canvas id="myChart"></canvas>
        </div>
    </div>
    
    <script>
        //setup
        const data ={
            labels:["Jan", "Fev", "Mar", "Apr", "May", "Jun"],
                datasets: [
                    {
                        label: "Novos Clientes",
                        data: [11, 20, 30, 15, 20, 9],
                        backgroundColor: [
                            '#red',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }
                ]
            
        }

        //setup lineChart
        const data2 ={
            labels:["Jan", "Fev", "Mar", "Apr", "May", "Jun"],
                datasets: [
                    {
                        label: "Novos Clientes",
                        data: [11, 20, 30, 15, 20, 9],
                        backgroundColor: [
                            '#blue',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }
                ]
        }
        // config
        const config ={
            type: "doughnut",
            data,
            options: {
                
                title: {
                    display: true,
                    text:"Novos Clientes"
                },
                scales: {
                    yAxes: [
                        {
                            ticks:{
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        }

        // config lineChart
        const config2 ={
            type: "bar",
            data,
            options: {
                
                title: {
                    display: false,
                    text:"Novos Clientes"
                },
                scales: {
                    yAxes: [
                        {
                            ticks:{
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        }

        // render init block
        let myChart = new Chart(
            document.getElementById("myChart"),
            config
        );

        // render linechart
        let lineChart = new Chart(
            document.getElementById("lineChart"),
            config2
        );


    </script>
    -->

</body>
</html>